<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixel Wave</title>
    <link href="/styles.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-100">
    <header class="bg-blue-500 text-white py-4">
      <div class="container mx-auto">
        <h1 class="text-2xl font-bold">Mon application</h1>
      </div>
    </header>

    <main class="container mx-auto mt-4"><%= resetPasswordURL %></main>

    <footer class="bg-blue-500 text-white py-4 mt-4">
      <div class="container mx-auto">
        <p>© 2024 Mon application. Tous droits réservés.</p>
      </div>
    </footer>
  </body>
</html>
